In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("IN15_Logsum.txt",header=None,index_col=[0,1])

In [3]:
df.index.names = ['from_zone_id','to_zone_id']

In [6]:
df.head()

                         am_auto_total_time  am_transit_total_time  \
from_zone_id to_zone_id
1            1                         6.41                    NaN
             2                         7.25                  22.64
             3                         7.66                  29.48
             4                         8.29                  32.62
             5                         8.73                  44.78

                         am_work_highinc_logsum  am_work_lowinc_logsum  \
from_zone_id to_zone_id
1            1                            -0.23                   0.30
             2                            -0.23                   0.53
             3                            -0.25                   0.42
             4                            -0.27                   0.38
             5                            -0.28                   0.35

                         midday_auto_total_time  midday_transit_total_time  \
from_zone_id to_zone_id
1            1                             6.37                        NaN
             2                             7.25                      25.16
             3                             7.51                      29.48
             4                             8.15                      32.62
             5                             8.58                      42.98

                         midday_other_logsum
from_zone_id to_zone_id
1            1                          0.51
             2                          0.51
             3                          0.50
             4                          0.49
             5                          0.48

In [5]:
df.columns = ['am_auto_total_time','am_transit_total_time','am_work_highinc_logsum','am_work_lowinc_logsum',
             'midday_auto_total_time','midday_transit_total_time','midday_other_logsum']

In [7]:
df[df.am_work_highinc_logsum.isnull()].shape

(456150, 7)

In [14]:
for col in df2.columns:
    print col, df2[df2[col].isnull()].shape[0]

from_zone_id 0
to_zone_id 0
am_auto_total_time 0
am_transit_total_time 6041972
am_work_highinc_logsum 0
am_work_lowinc_logsum 0
midday_auto_total_time 0
midday_transit_total_time 6389246
midday_other_logsum 0

In [10]:
df.reset_index(inplace=True)

In [13]:
#remove all external zones 
df2 = df.loc[ (df.from_zone_id<=2811) &(df.to_zone_id<=2811),: ]

In [17]:
df2.set_index( ['from_zone_id','to_zone_id'],inplace=True)

In [ ]:
df2.to_csv('travel_data_03102017.csv')